DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jobfuture?schema=public"
NEXT_PUBLIC_COMPANY_NAME="JobFuture Oy"
NEXT_PUBLIC_ORDER_EMAIL="info@jobfuture.fi"

# Importer configuration
IMPORT_DRY_RUN="true"
IMPORT_USE_SAMPLE_DATA="true"
IMPORT_MARKUP_PERCENT="25"
IMPORT_DEFAULT_VAT_RATE="25.5"

# Ahlsell import
AHLSELL_SEARCH_URL="https://www.ahlsell.fi/search?parameters.SearchPhrase=Innova"
AHLSELL_USERNAME=""
AHLSELL_PASSWORD=""
AHLSELL_LOGIN_URL="https://www.ahlsell.fi/my-pages/"
AHLSELL_HEADLESS="true"
AHLSELL_MAX_PAGES="50"
AHLSELL_PAGE_DELAY_MS="1500"
AHLSELL_FETCH_DETAILS="true"
AHLSELL_DETAIL_DELAY_MS="800"

# Onninen import
ONNINEN_BASE_URL="https://www.onninen.fi"
ONNINEN_USERNAME=""
ONNINEN_PASSWORD=""
ONNINEN_HEADLESS="true"
ONNINEN_MAX_PAGES="20"
ONNINEN_PAGE_DELAY_MS="1500"
ONNINEN_FETCH_DETAILS="true"
ONNINEN_DETAIL_DELAY_MS="800"
